@use '../../variables/variables' as *;

@mixin button {
  padding: $spacing-sm $spacing-md;
  border: none;
  border-radius: $radius-sm;
  background: $primary-color;
  color: white;
  font-family: $font-primary;
  font-weight: 600;
  cursor: pointer;
  transition: all $transition-normal;

  &:hover {
    background: darken($primary-color, 10%);
    transform: translateY(-2px);
  }
}