:host {
  display: block;
  min-height: 100vh;
  background-image: url('/assets/wallpaper/plan-and-co.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}