:host {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('/assets/wallpaper/wallpaper8.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.home-content {
  flex: 1;
  width: 100%;
  min-height: 0;
}

.home-footer {
  width: 100%;
  height: 120px;
  flex-shrink: 0;
}