@use 'shared/styles' as *;

:host {
  display: block;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $color-secondary;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;

  @media (max-width: 1240px) {
    margin: 0 1rem;
  }

  @media (max-width: 768px) {
    margin: 0;
    border-radius: 0;
  }
}