@use 'shared/styles' as *;

.container {
  @include container;
}

.back-btn {
  @include back-button;
  margin-bottom: 2rem;
}

.title {
  @include title;
}

.subtitle {
  @include subtitle;
}

.content {
  @include content;
}

.cta {
  @include cta;
}