@use 'shared/styles' as *;

.container {
  @include container;
  background-image: url('/assets/wallpaper/wallpaper-web.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.back-btn {
  @include back-button;
  margin-bottom: 2rem;
}

.title {
  @include title;
}

.subtitle {
  @include subtitle;
}

.content {
  @include content;
}

.cta {
  @include cta;
}