@use 'shared/styles' as *;

.cta-section {
  padding: 4rem 2rem;
}

.cta-card {
  @include container;
  background-color:  rgba(0, 0, 0, 0.068);
  padding: 3rem 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-title {
  font-size: 1.875rem;
  color: $color-primary;
  margin-bottom: 1rem;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.cta-subtitle {
  font-size: 1.125rem;
  color: $color-text;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.cta-button {
  @include cta-button;
}