@use '../../variables/modern-editorial' as *;
@use '../buttons/cta-btn' as *;
@use '../buttons/card-btn' as *;

@mixin feature-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  
  .card-btn {
    @include card-btn;
  }

  .cta-btn {
    @include cta-btn;
    align-self: center;
    margin-top: 2rem;
  }
}