@use 'shared/styles' as *;

.container {
  @include carousel-card;
}

.card-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 1.5rem;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}