@use 'shared/styles' as *;

.container {
  @include carousel-card;
}

.bg {
  width: 100%;
  max-width: 600px;
  
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.card-btn {
  @include card-button;

}