@use 'shared/styles' as *;

:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  min-height: 100%;
}

.title {
  font-family: $header-title-font;
  font-size: 3rem;
  font-weight: 600;
  color: $color-dark;
  text-align: center;
  margin: 2rem 0 1rem 0;
  text-decoration: underline;
  text-underline-offset: 8px;
}

app-carousel {
  max-width: 800px;
  width: 100%;
}