@use 'shared/styles' as *;

:host {
  flex: 1;
  display: block;
}

.container {
  flex: 1;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.left-section,
.right-section {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .container {
    background-image: none;
    background-color: $color-bg;
  }

  .content-grid {
    grid-template-columns: 1fr;
  }

  .left-section {
    display: none;
  }
}