@use 'shared/styles' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;

  owl-carousel-o {
    width: 100%;
    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

::ng-deep {
  .owl-dots {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .owl-dot {
    span {
      width: 20px !important;
      height: 8px !important;
      margin: 0 10px !important;
      background-color: $color-dark !important;
      border-radius: 5px !important;
    }

    &.active span {
      background: $color-white !important;
    }
  }
}
