@use 'shared/styles' as *;

owl-carousel-o {
  width: 100%;
  height: 100%;
  max-width: 800px;
  display: block;
  position: relative;
}

::ng-deep {
  .owl-carousel {
    height: 100%;
  }

  .owl-stage-outer {
    height: 100%;
  }

  .owl-stage {
    height: 100%;
  }

  .owl-item {
    height: 100%;
  }

  .owl-dots {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .owl-dot {
    span {
      width: 20px !important;
      height: 8px !important;
      margin: 0 10px !important;
      background: rgba($color-primary, 0.3) !important;
      border-radius: 5px !important;
    }

    &.active span {
      background: $color-primary !important;
    }
  }
}