$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-mobile) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}