@use 'shared/styles/index' as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: $font-primary;
  color: $text-dark;
  line-height: 1.6;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color $transition-fast;
}

button {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-display;
  font-weight: 600;
  line-height: 1.2;
}