@use 'shared/styles' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: $color-primary;
  background-color: $color-bg;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: $color-primary;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

/* ============== NGX-OWL-CAROUSEL-O FULL HEIGHT =========================== */

.owl-carousel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.owl-carousel-inner {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.owl-stage-outer {
  flex: 1;
  height: 100%;
}

owl-stage,
owl-stage > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

.owl-stage {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.owl-stage .owl-item {
  float: none;
  height: 100%;
  min-height: 100%;
  display: flex;
  
  > * {
    width: 100%;
    height: 100%;
  }
}