@use 'shared/styles' as *;
@use 'sass:color';

.blog-preview {
  padding: 4rem 2rem;
}

.section-title {
  @include section-title;
}

.articles-grid {
  margin-bottom: 2rem;
  @include container;
  @include responsive-grid(3, 2rem);
}

.article-card {
  @include card;
}

.article-title {
  font-size: 1.25rem;
  color: $color-primary;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.article-excerpt {
  font-size: 1rem;
  color: $color-text;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.read-more {
  color: $color-accent;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: color.adjust($color-accent, $lightness: -10%);
  }
}

.view-all {
  display: block;
  text-align: center;
  color: $color-accent;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  margin-top: 4rem;

  &:hover {
    color: color.adjust($color-accent, $lightness: -10%);
  }
}